{% extends "base.html" %}
{% block body %}
    <form class='input-form' action='/login' method='post' onsubmit="login(event)">
        <img class="welcome-pic" src="../static/icons/logo.png" alt="Spotfox™">
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="submit" value="Login">
        <a class="link" class="bar" href="/signup">Create account</a>
    </form>
{% endblock %}
