{% block body %}
<nav class="page-navbar navbar">
    <ul class="navbar-list navbar-list">
        <li class="navbar-group">
            <a href="#" class="navbar-link text-underlined">Home</a>
        </li>
        <li class="navbar-group">
            <a href="#" class="navbar-link text-underlined">Earn</a>
        </li>
        <li class="navbar-group">
            <a href="#" class="navbar-link text-underlined">VIP</a>
        </li>
        <li class="navbar-group">
            <a href="#" class="navbar-link text-underlined">Task</a>
        </li>
        <li class="navbar-group">
            <a href="#" class="navbar-link text-underlined">Account</a>
        </li>

    </ul>
</nav>
{% endblock %}