{% extends "base.html" %}
{% block body %}
<img class="welcome-pic" src="../static/icons/logo.png" alt="Spotfox™">
<form class="input-form" action="/signup" method='post' onsubmit="signup(event)">
    <input type="text" placeholder="Username" name="username" required>
    <input type="email" placeholder="Email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <input type="submit" value="Sign Up">
</form>
<a class="welcome-link" href="/login">Log in</a>
{% endblock %}
